html {
    font-size: 1rem;
}

body {
    font-size: 1rem;
    font-family: 'Dosis', sans-serif;
    background-color: gray;
}

.page-navigation {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #fbfbfb;
}

.container {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.logo {
    width: 10rem;
}